
h2 {
	font-family: 'Raleway', sans-serif;
	color: #5B3256;
}

h4 {
  font-family: 'Raleway', sans-serif;
}

.panel-title {
	font-family: 'Raleway', sans-serif;
}

.panel {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3.appTitle {
	font-size: 43px;
	color: white;
	font-family: 'Lobster', cursive;
  width: 279px;
}

html,body,.container {
    height:100%;
}

a.btn.btn-success {
  padding: 0px 9px;
}

.container {
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

.row {
    height: 100%;
}

div.col-md-3.no-float {
  display: table-cell;
  float: none;
  background-color: #5B3256;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
	color: white;
}

@media (min-width: 992px) {
  .row .no-float {
      display: table-cell;
      float: none;
  }
}

div.container {
	background-image: ;
}

body {
	background-image: url("./groovepaper/groovepaper.png") ;
}
